.CalculatorScreen {
  background: rgba(255,255,255, .05);
  font-size: 18px;
  grid-column-end: span 4;
  margin: 15px 0 5px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}