.CalculatorScreen {
  /* background-color: #e8e8e8; */
  border-color:rgba(255,255,255,.65);
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  color: orange;
  font-size: 18px;
  font-weight: lighter;
  grid-column-end: span 4;
  margin: 15px 0 5px;
  overflow: hidden;
  padding: 5px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}