
.view{
    display: flex
  }
  .card{
    border-style: solid;
    border-width: .3px;
    border-color: white;
    color: white;
    width: 18vh;
    text-align: center;
    align-items: center;
    padding: 10px
  }