.bgp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
}

.bgp-header{
	
}
.bgp-images{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-evenly;
	align-items: space-evenly;
}
.map-item{
	height:200px;
	width:200px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(255,255,255,.1);
}
.vibrant-picker {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.vibrant-picker * {
	box-sizing: content-box;
	display: flex;
	margin: 0 10px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	transition: .15s;
}
.vibrant-picker *:hover {
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,.5);
}
.background-button {
	color: white;
}