.global-settings a {
	letter-spacing: 3px;
	animation-delay: 1s;
	animation: fadeIn 1s linear;
}

.global-settings h1 {
	letter-spacing: 10px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	opacity: 1;
	color: white;
	margin-bottom: 25px;
	animation-delay: 1s;
	animation: fadeIn 1s linear;
}

.global-options {
	width: 100%;
	display: flex;
	flex-direction: column;
	animation-delay: 1s;
	animation: fadeIn 1s linear;
}

.global-main{
	width: 100%;
	color:white;
	display:flex; 
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	animation: fadeIn 1s linear;
}

.globalItem{
	margin:30px;
	color:white
}
.globalThemes{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	width: 402px;
	border-right: 1px solid white;
}
.globalLayout{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 400px;
}
.list{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.listItem{
	display: flex;
	align-items: center;
	justify-content: center;
	padding:5px;
}

.global-settings-wrapper {
	animation: fadeIn .15s linear;
}

@keyframes fadeIn {
  0% {
    opacity:0
  }
  100% {
    opacity:1;
  }
}

.global-settings-wrapper.none {
  display:none
}