.space{
		margin: 5px;
		width: 35px;

}

.currency select {
	width: 180px;
	border: none;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./../search/scroll.svg) 95% / 5% no-repeat rgba(255,255,255,.04);
	padding: 0 25px;
	font-size: 17px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white
}
.currency option {color: black;}
.currency .theme-input  {
	color: white;
	background: transparent;
}
.center{
	width: 100%;
	display: flex;
	justify-content: center;
}