@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans');
*{box-sizing: border-box}

#App {
  font-family: 'Montserrat', sans-serif;
}

button, input {font-family: 'Montserrat', sans-serif;}

button {
  border: none;
  padding: 7px 30px;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  opacity: .85;
  transition: .25s;
}

button:hover {opacity: 1;}

button:focus {
  outline: none;
}

.widget {
  color: rgb(30, 30, 30);
  background: rgba(255,255,255,0.85);
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  align-items: center;
	justify-content: center;
  overflow: hidden;
}

.widget-settings {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

a, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
a, p {font-size: 16px; letter-spacing: 1px;}